#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  text-align: center;
  flex-direction: column; 
}

.course-btn {
  background-color: #007bff; 
  color: white; 
  width: 400px;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.course-btn:hover {
  background-color: #0056b3;
}

.course-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}

